html {
	border: 20px solid;
	border-image: url("../images/background.jpg") 25 round;
	min-height: 100%;
}

.button-list {
    margin: 15px 5px;
}

.button-submit {
    margin-top: 10px;
}

.gif-margin {
    margin-bottom: 25px;
}

.panel {
    background-color: black;
}